<mat-tab-group color="primary" backgroundColor="primary">
  <mat-tab label="Attendance History">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let event of events">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{event.event_name}}
          </mat-panel-title>
          <mat-panel-description>
            Conducted By {{event.organiser}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Event Description</p>
        <p>{{event.description}}</p>
        <button mat-stroked-button color="accent" [routerLink]="['/chapter/viewAttendance/', event.id]">View Attendance</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Attendance Update">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let event of events">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{event.event_name}}
          </mat-panel-title>
          <mat-panel-description>
            Conducted By {{event.organiser}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Event Description</p>
        <p>{{event.description}}</p>
        <button mat-stroked-button color="accent" [routerLink]="['/chapter/attendance/', event.id]">Mark Attendance</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>





