<div class="card-holder" *ngIf="events">
      <mat-card class="card" *ngFor="let event of events.posts">
          <mat-card-header>
            <mat-list>
                <mat-list-item>
                        <img matListAvatar src="/assets/images/alberto.png">
                        <h3 matLine> {{event.name | uppercase}}</h3>
                        <p matLine>
                            <span>{{event.owner}}</span>
                        </p>
                </mat-list-item>
            </mat-list> 
          </mat-card-header>
          <img class="card" mat-card avatar src="/assets/images/jumble.png" alt={{event.name}} height="400px">
          <mat-card-content>
            <h3>
              {{event.event}}
            </h3>
            <p>
              {{event.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button [routerLink]="['/user/event', event.event]">More Details</button>
            <button mat-button>Register</button>
            <span class="flex-spacer"></span>
          </mat-card-actions>
        </mat-card>
</div>    