<mat-toolbar color="primary">
  <span>Application Title</span>
  <span class="flex-spacer"></span>
  <span>Right Aligned Text</span>
</mat-toolbar>
<div class="layout">
  <div class="side-nav">
    <div class="user">
        <mat-list>
            <mat-list-item>
              <img matListAvatar src="..." alt="image" height="50px" width="50px">
              <h3 matLine>User@123</h3>
              <p matLine>
                <span>Welcome</span>
              </p>
            </mat-list-item>
          </mat-list>
    </div>
    <div>
      <a mat-button class="side-links"><i class="material-icons text">home</i><span class="text">Home</span></a>
      <a mat-button class="side-links"><i class="material-icons text">home</i><span class="text">Home</span></a>
      <a mat-button class="side-links"><i class="material-icons text">home</i><span class="text">Home</span></a>
    </div>  
  </div>
  <div class="nav-placer"></div>
  <div class="main-content">
    <app-feed></app-feed>
  </div>
</div>