.event-form{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.full-width{
    width: 100%;
}

.eventForm{
    width: 80%;
}

.lol{
    display: block;
    width: 60%;
    margin: 10px auto
}

@media screen and (max-width: 600px) {
    .event-form{
        padding: 10px;
    }

    .eventForm{
        width: 100%;
    }
}
