<mat-tab-group>
    <mat-tab label="New Event">

        <p>{{ eventForm.value | json }} {{ eventForm.status | json }}</p>


      <div class="event-form">
        <form class="eventForm" novalidate [formGroup]="eventForm" #eventform="ngForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="eventName" placeholder="Name" type="text" required [errorStateMatcher]="matcher">
                <mat-error *ngIf="formErrors.eventName">{{formErrors.eventName}}</mat-error>
              </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput formControlName="tagLine" placeholder="Tagline" type="text" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="formErrors.tagLine">{{formErrors.tagLine}}</mat-error>
                </mat-form-field>
              </p>
              <p>
                  <mat-select placeholder="Category" formControlName="category">
                      <mat-option *ngFor="let ctype of type" [value]="ctype">
                        {{ ctype }}
                      </mat-option>
                    </mat-select>
              </p>
              <p>
                  <mat-form-field class="full-width">
                    <input matInput formControlName="organiser" placeholder="Organiser" type="text" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="formErrors.organiser">{{formErrors.organiser}}</mat-error>
                  </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width">
                      <input matInput formControlName="price" placeholder="Price" type="text" [errorStateMatcher]="matcher" required>
                      <mat-error *ngIf="formErrors.price">{{formErrors.price}}</mat-error>
                    </mat-form-field>
                  </p> 
                  <p>
                      <mat-form-field class="full-width">
                        <input matInput formControlName="venue" placeholder="Venue" type="text" [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="formErrors.venue">{{formErrors.venue}}</mat-error>
                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width">
                          <input matInput formControlName="eventDate" [matDatepicker]="picker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="full-width">
                          <input matInput formControlName="eventTime" placeholder="Time" type="time" [errorStateMatcher]="matcher" required>
                          <mat-error *ngIf="formErrors.eventTime">{{formErrors.eventTime}}</mat-error>
                        </mat-form-field>
                      </p>
                      <p>
                          <mat-form-field class="full-width">
                            <textarea matInput formControlName="description" placeholder="Your Feedback" rows=12></textarea>
                            <mat-error *ngIf="formErrors.description">{{formErrors.description}}</mat-error>
                          </mat-form-field>
                        </p>
            <button type="submit" [disabled]="eventForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
          </form>
      </div>

    </mat-tab>
    <mat-tab label="New Feed"> 
        <p>{{ loginForm.value | json }} {{ loginForm.status | json }}</p>
        <div class="event-form">
        <form class="eventForm" novalidate [formGroup]="loginForm" #lform="ngForm" (ngSubmit)="onFeedSubmit()">
            <p>
                <mat-select placeholder="Category" formControlName="event_id" required>
                    <mat-option *ngFor="let ctype of eventfeed" [value]="ctype._id">
                      {{ ctype.event_name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formErrorsfeed.event_id">{{formErrorsfeed.event_id}}</mat-error>
            </p>
            <p>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="description" placeholder="Description for feed" rows=12></textarea>
                  <mat-error *ngIf="formErrorsfeed.description">{{formErrorsfeed.description}}</mat-error>
                </mat-form-field>
            </p>
            <!-- <p>
                    <input formControlName="file" (change)="onFileChanged($event)" placeholder="Password" type="file" required>
            </p>  -->
             <p>
              <button type="submit" [disabled]="loginForm.invalid" mat-button class="background-primary text-floral-white align">Submit</button>
            </p>
            </form>
            </div>
     </mat-tab>
</mat-tab-group>